<% content_for :title do %>
  Edit Access
<% end %>
<div class="mainText container">
	<h1>Editing access_student_game</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @access_student_game %> |
	<%= link_to 'Back', access_student_games_path %>
</div>