<% content_for :title do %>
  About EngAGe
<% end %>

 <div class="mainText container">
 	<h2>About</h2>

     <p>EngAGe assessment engine was designed and developped by Ya&euml;lle Chaudy during her PhD at the <a href="http://uws.ac.uk">University of the West of Scotland</a>. </p>


	<%= image_tag "uws.jpg", alt:"logo UWS", size: "413x283" %>
 </div>