<% content_for :title do %>
  About EngAGe
<% end %>

 <div class="mainText container">
 	<h2>About</h2>

     <p>
     	EngAGe assessment engine was designed and developped by Ya&euml;lle Chaudy during her PhD at the <a href="http://uws.ac.uk">University of the West of Scotland.</a> 
     </p>
     
     <h4>Publications</h4>
     <p>
     	<i>Research papers published on this project can be found on her <a href="https://www.researchgate.net/profile/Yaelle_Chaudy"> Research Gate page</a>.</i>
     </p>
     <p>
     	Hainey, T., Connolly, T. M., Chaudy, Y., Boyle, E., Beeby, R., & Soflano, M. (2013). Assessment Integration in Serious Games. <i>Psychology, Pedagogy and Assessment in Serious Games</i>.
     </p>
     <p>
		Chaudy, Y., Connolly, T., & Hainey, T. (2013). <i>Specification and Design of a Generalized Assessment Engine for GBL Applications</i>. Paper presented at the European Conference on Games Based Learning (ECGBL), Porto, Portugal. 
	</p><p>
		Chaudy, Y., Connolly, T., & Hainey, T. (2014). <i>EngAGe: A link between Educational Games Developers and Educators</i>. Paper presented at the International Conference on Virtual Worlds and Games for Serious Applications (VS-Games), Malta.
	</p> <p>
		Chaudy, Y., Connolly, T., & Hainey, T. (2014). <i>An Assessment Engine: Educators as Editors of their Serious Games</i>. Paper presented at the European Conference on Games Based Learning (ECGBL), Berlin. 
	</p><p>
		Chaudy, Y., Connolly, T., & Hainey, T. (2014). <i>Learning Analytics in Serious Games: a Review of the Literature</i>. Paper to be presented at the European Conference in the Applications of Enabling Technologies (ECAET), Glasgow. 
    </p>
 </div>