<% content_for :title do %>
Editor
<% end %>
<div class="mainText container" ng-app="EnGAge">
	<div ng-controller="GameCtrl">
		<h1><span editable-text="config.seriousGame.name">{{config.seriousGame.name}}</span></h1>
		<h3>Objective of the game</h3>
		<div><span editable-textarea="config.seriousGame.description"  e-rows="3" e-cols="80">{{config.seriousGame.description}}</span></div>
		<h3>Player characteristics</h3>
		<div>
			<table class="table table-bordered">
				<tbody>
					<tr ng-repeat="car in config.player">
						<td>
							<span editable-text="car.name" e-required>{{car.name}}</span>
						</td>
						<td class="col-lg-6">
							<span editable-text="car.question" e-required>{{car.question}}</span>
						</td>
						<td class="col-lg-6">
								<span editable-select="car.type" e-ng-options="s.value as s.text for s in [{value: 'Int', text: 'Number'}, {value: 'Char',text: 'Char'}, {value: 'String', text: 'text'}]" e-required>{{car.type}}</span>
						</td>
						<td><button type="button" class="btn btn-danger btn-sm" ng-click="config.player.splice($index, 1)">remove</button></td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-default btn-sm" ng-click="addPlayerCharacteristic()">add</button>
		</div>
		<h3>Scores / Learning outcomes</h3>
		<div>
			<accordion close-others="oneAtATime">
				<accordion-group  ng-repeat="(name, lo) in config.learningOutcomes">
					<accordion-heading>
			           <span><strong>{{ name }}:</strong> {{ lo.desc }}</span>
			        </accordion-heading>
					<dl class="dl-horizontal">
						<dt>name</dt>
						<dd><span editable-text="name" e-required onbeforesave="renameLearningOutcomeReferences(name, $data)">{{name}}</span></dd>
						<dt>description</dt>
						<dd><span editable-textarea="lo.desc" e-placeholder="description" e-rows="2" e-cols="40" e-required>{{lo.desc}}</span></dd>
						<dt>initial value</dt>
						<dd><span editable-number="lo.value" e-name="value" e-required>{{lo.value}}</span></dd>
						<dt>feedback</dt>
						<dd>
						<table class="table table-bordered">
							<tbody>
								<tr ng-repeat="fb in lo.feedbackTriggered">
									<td>
										<span><span editable-select="fb.sign" e-required e-ng-options="k as v for (k, v) in signs">{{signs[fb.sign]}}</span> <span editable-number="fb.limit" e-required>{{fb.limit}}</span></span>
									</td>
									<td class="col-lg-6">
										<span editable-textarea="config.feedback[fb.feedback[0].name].message" e-rows="2" e-cols="40">{{config.feedback[fb.feedback[0].name].message}}</span>
									</td>
									<td>
										<span>triggered </span><span editable-select="fb.feedback[0].immediate" e-ng-options="s.value as s.text for s in [{value: true, text: 'immediately'}, {value: false, text: 'in the summative report'}]"><span ng-if="fb.feedback[0].immediate">immediately</span><span ng-if="!fb.feedback[0].immediate">in the summative report</span></span>
									</td>
								</tr>
							</tbody>
						</table>
						</dd>
					</dl>
					
					<button type="button" class="btn btn-danger btn-sm" ng-click="deleteLearningOutcome(name)">remove</button>
				</accordion-group>
			</accordion>
			<form class="form-inline" ng-submit="addLearningOutcome()">
				<div class="form-group">
					<input placeholder="name" type="text" ng-model="newLoName" required class="form-control">
					<input placeholder="description" type="text" ng-model="newLoDesc" required class="form-control">
					<button type="submit" class="btn btn-default">create score</button>
				</div>
			</form>
			
			<h3>Rules of the game</h3>
			
			<div>
				<accordion close-others="oneAtATime">
					<accordion-group  ng-repeat="(name, evidence) in config.evidenceModel" heading="{{ evidence.desc}}">
						
						<div ng-repeat="reaction in evidence.reactions">
							<hr ng-if="! $first">
							<h4 ng-if="reaction.else == 'true'">{{ $index + 1}}. Any other <span ng-repeat="(param, type) in evidence.params">{{param}}{{$last ? '' : ', '}}</span></h4>
							<div ng-if="reaction.else != 'true'">
								<h4>
									{{ $index + 1}}. If the user selects one of the following <span ng-repeat="(param, type) in evidence.params">{{param}}{{$last ? '' : ', '}}</span>
								</h4>
								<div ng-if="numberOfKeys(evidence.params)==1" ng-repeat="(param, type) in evidence.params">
									<div ng-if="listParamsUpdated[name][param]">
										 <ui-select multiple ng-model="reaction.values" theme="select2" style="width: 800px;">
										    <ui-select-match placeholder="Select {{evidence.params[param]}}...">{{$item[param]}}</ui-select-match>
										    <ui-select-choices repeat="c in listParamsUpdated[name][param] | filter: $select.search">
										      {{c[param]}}
										    </ui-select-choices>
										 </ui-select>
									</div>
								</div>
								<div ng-if="numberOfKeys(evidence.params) > 1">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th class="col-xs-3" ng-repeat="(param, type) in evidence.params">{{param}}</th>
											<th class="col-xs-1">Action</th>
										</tr>
									</thead>
									<tbody>
											<tr ng-repeat="val in reaction.values">
												<td ng-repeat="(param, type) in evidence.params">
													<span editable-text="val[param]" e-required>{{val[param] || ('add ' + param) }}</span>
												</td>
												<td><button class="btn btn-sm btn-danger" ng-click="reaction.values.splice($index, 1)">remove</button></td>
											</tr>
									</tbody>
									
								</table>
								<button class="btn btn-sm btn-default" ng-click="reaction.values.push({})">Add entry</button>
								</div>
							</div>
							<br/>
							<div>
								<div><strong>scores to be updated:</strong></div>
								<table class="table table-bordered">
									<tbody>
										<tr ng-repeat="mark in reaction.marks">
											<td class="col-lg-6">{{config.learningOutcomes[mark.learningOutcome].desc}}</td>
											<td><span editable-number="mark.mark" e-required>{{mark.mark}}</span></td>
											<td class="col-sm-1"><button class="btn btn-sm btn-danger" ng-click="reaction.marks.splice($index, 1)">remove</button></td>
										</tr>
									</tbody>
								</table>
								<form class="form-inline" ng-if="availableLearningOutcomes(reaction.marks).length">
									<div class="form-group">
										<input id="newLearningOutcome" placeholder="new score update" type="text" ng-model="newLearningOutcome" typeahead-on-select="addMark(reaction, $item)" typeahead="lo for lo in  availableLearningOutcomes(reaction.marks) | filter:$viewValue | limitTo:8" class="form-control">
									</div>
								</form>
							</div>
							<br/>
							<div>
								<div><strong>feedback to trigger</strong></div>
								<table class="table table-bordered">
									<tbody>
										<tr ng-repeat="fb in reaction.feedback">
											<td class="col-lg-2"><span>{{config.feedback[fb.name].type}}</span></td>
											<td class="col-lg-6"><span editable-textarea="config.feedback[fb.name].message" e-rows="2" e-cols="40">{{config.feedback[fb.name].message}}</span></td>
											<td><span>triggered </span><span editable-select="fb.immediate" e-ng-options="s.value as s.text for s in [{value: true, text: 'immediately'}, {value: false, text: 'in the summative report'}]"><span ng-if="fb.immediate">immediately</span><span ng-if="!fb.immediate">in the summative report</span></span></td>
											<td class="col-sm-1"><button class="btn btn-sm btn-danger" ng-click="reaction.feedback.splice($index, 1)">remove</button></td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-sm btn-default" ng-click="openFeedbackModal(reaction)">add feedback</button>
							</div>
						</div>
					</accordion-group>
				</accordion>
			</div>
			<h3>End of the game</h3>
			<div>
				<h4>The game is won when/if:</h4>
				<div>
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="row in endWins">
								<td class="col-md-4">
									<span>{{config.learningOutcomes[row.learningOutcome].desc}}</span>
									<span editable-select="config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].sign" e-ng-options="k as v for (k, v) in signs">{{signs[config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].sign]}}</span>
									<span editable-number="config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].limit">{{config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].limit}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<h4>The game is lost when/if:</h4>
				<div>
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="row in endLoses">
								<td class="col-md-4">
									<span>{{config.learningOutcomes[row.learningOutcome].desc}}</span>
									<span editable-select="config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].sign" e-ng-options="k as v for (k, v) in signs">{{signs[config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].sign]}}</span>
									<span editable-number="config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].limit">{{config.learningOutcomes[row.learningOutcome].feedbackTriggered[row.feedbackTriggeredIdx].limit}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h3>Across gameplay badges</h3>
			<div class="col-md-12">
				<div class="media" ng-repeat="badge in badges">
					<div class="media-left">
						<a href="#"><img class="media-object" ng-src="/badges/{{badge}}.png" alt="{{badge}}"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{badge}}:</h4>
						<span ng-repeat="m in config.badgeModel | filter:badge">
							<span>won when </span>
							<span editable-select="m.function" e-required e-ng-options="k as v for (k, v) in badgeFeedback">{{badgeFeedback[m.function]}} </span>
							<span ng-if="m.function.indexOf('Score') > -1"  editable-select="m.outcome" e-required e-ng-options="k as v.desc for (k, v) in config.learningOutcomes">
								<span ng-if="m.outcome">'{{m.outcome}}' ({{config.learningOutcomes[m.outcome].desc}}) </span>
								<span ng-if="!m.outcome">select a score </span>
							</span>
							<span>is </span>
							<span ng-switch="m.sign" editable-select="m.sign" e-required e-ng-options="k as v for (k, v) in signs">
								<span ng-switch-when=">">greater than </span>
								<span ng-switch-when="<">lower than </span>
								<span ng-switch-default>{{m.sign}} </span>
							</span>
							<span editable-number="m.limit" e-required>{{m.limit}} </span>
							<span ng-if="m.function.indexOf('Time') > -1">minutes</span>
						</span>
						<br/>
						<strong>message: </strong><span editable-textarea="config.feedback[badge].message" e-rows="2" e-cols="40" >{{config.feedback[badge].message}}</span>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary" ng-click="save()">save</button>
			</div>
		</div>
		<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Feedback!</h3>
		</div>
		<div class="modal-body">
			<div>
				<h4>Add feedback</h4>
				<form class="form-inline">
					<div class="form-group" ng-submit="createFeedback(newFeedbackName, newFeedbackMessage, newFeedbackType)">
						<input placeholder="name" type="text" ng-model="newFeedbackName" required class="form-control">
						<input placeholder="description" type="text" ng-model="newFeedbackMessage" required class="form-control">
						<select ng-options="fbType for fbType in feedbackTypes" ng-model="newFeedbackType" class="form-control"></select>
						<button type="submit" class="btn btn-default">create</button>
					</div>
				</form>
			</div>
			<div>
				<h4>Positive Feedback</h4>
				<table class="table table-bordered">
					<tbody>newFeedbackMessage
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='positive'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>Negative Feedback</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='negative'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>Badge</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='badge'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>End of Game</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.final">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">cancel</button>
		</div>
		</script>
	</div>
</div>