<% content_for :title do %>
  API
<% end %>

<% content_for :notmain do %>
  True
<% end %>

<div class="mainText container">
	<h1>Documentation#api</h1>
	<p>Find me in app/views/documentation/api.html.erb</p>
</div>

