<% content_for :title do %>
  Documentation
<% end %>

<% content_for :notmain do %>
  True
<% end %>

<div class="mainText container">
	<h2>Documentation</h2>
       <p> Page under construction </p>
       <p><%= image_tag "underconstruction.png" %></p>
</div>