<% content_for :title do %>
  Downloads
<% end %>

<% content_for :notmain do %>
  True
<% end %>

<div class="mainText container">
	<h2>Downloads</h2>
  <p>To use EngAGe, you don't need to download or install anything. However, to save you from coding all the calls to the web services, you can use existing files.</p>
  <p>If you are developing a game using EngAGe and would like to share some file with us for uploading into this page, please email us!</p>
  <h3>Unity - C#</h3>
  <p>The following file is a Unity script (C#) that can be attached to an empty GameElement to perform the necesary calls.</p>

  <a href="../codeFiles/EngAGe.cs" > Download Engage.cs </a>

  <br/>
  <br/>
</div>
