<% content_for :title do %>
  Downloads
<% end %>

<% content_for :notmain do %>
  True
<% end %>

<div class="mainText container">
	<h2>Downloads</h2>
  <p>To use EngAGe, you don't need to download or install anything. However, to save you from coding all the calls to the web services, you can use existing files.</p>
  <p>If you are developing a game using EngAGe and would like to share some file with us for uploading into this page, please email us!</p>

  <h3>Unity - C#</h3>
  <p>The following file is a Unity script (C#) that can be attached to an empty GameElement to perform the necesary calls. Go to the gitHub page, right click on the file and click on "Save link as".</p>

  <a href="https://github.com/yaelleUWS/engage-unity" > Engage.cs in GitHub</a>

  <h3>HTML5 - Javascript</h3>
  <p>The following file is a Javascript file that can be imported to your project to perform the necesary calls. Go to the gitHub page, in the dist folder, right click on the file and click on "Save link as".</p>

  <a href="https://github.com/yaelleUWS/engagejs" > engage.js in GitHub</a>

  <br/>
  <br/>
</div>
