 <% content_for :title do %>
  Tutorial
<% end %>

<% content_for :notmain do %>
  True
<% end %>

 <div class="container mainText">
      <h2>Tutorial</h2>

       <p> Page under construction </p>
       <p><%= image_tag "underconstruction.png" %></p>

</div>
<br/>
