<% content_for :title do %>Teacher<% end %>
<div class="mainText container">
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
</div>
