.blockLA {
	padding: 10px;
	margin: 10px 0;

	border: 1px solid #e1e1e8;
	border-radius: 4px;
	border-top-width: 7px;
}

.blockBasicInfo {
	border-top-color: #5bc0de;
	background-color: #f8f8ff;
}

.blockBasicInfo h4 {
	color: #5bc0de;
}

.blockScoreStat {
	border-top-color: #f0ad4e;
	background-color: #fffff7;
}

.blockScoreStat h4 {
	color: #f0ad4e;
}

.blockInteractions {
	border-top-color: #4cb84c;
	background-color: #f8fff8;	
}

.blockInteractions h4 {
	color: #468847;
}

.blockAdvanced {
	border-top-color: #d9534f;
	background-color: #fff8f8;	
}

.blockAdvanced h4 {
	color: #d9534f;
}

@media (min-width: 1500px)
.modal-xl {
  width: 1500px;
}
@media print {  
  @page {
    margin-top: 15mm;
    margin-right: 15mm;
    margin-right: 15mm;
    margin-bottom: 10mm;
  }
}