<% content_for :title do %>
Learning Analytics
<% end %>

<div class="mainText container" ng-app="learningAnalytics" ng-controller="LA_basicInfoController">
	<h1>Learning Analytics dashboard - <b> {{ LA.game.name }} </b></h1>
	<p> 
		Version : <b> {{ LA.game.version }} </b> - 
		Number of gameplays: <b> {{ LA.gameplays.length }} </b> -  
		Number of players: <b>{{ LA.uniquePlayers().length }} </b> - 
		Number of registered students: <b>{{ LA.players.length }}  </b>
	</p>

	<div class="col-md-6 blockLA blockBasicInfo">
		<h4>Who played this game?</h4>

		<p>
			<input type="radio" ng-model="whoPlayedView" id ="gameplay1" name="view1" value="gameplay" ng-click="setChartsWhoPlayed()">All gameplays
			<input type="radio" ng-model="whoPlayedView" id ="player1" name="view1" value="player" ng-click="setChartsWhoPlayed()">Unique players
		</p>

		<ul class="nav nav-tabs" role="tablist" id="tabsBasic1">
			<li ng-repeat="c in LA.game.playerCharacteristics">
				<a ng-href="#{{c}}1" role="tab" data-toggle="tab"> By {{ c }} </a></li>
			</ul>

			<div class="tab-content">
				<div ng-repeat="c in LA.game.playerCharacteristics" class="tab-pane active" id="{{c}}1">
					<div id="containerWhoPlayedBy{{c}}" style="min-width: 450px; height: 350px; max-width: 600px; margin: 0 auto"></div>
				</div>
			</div>
		</div>

		<div class="col-md-6 blockLA blockBasicInfo">
			<h4>How long was the game played?</h4>
			<p>
				<input type="radio" id ="gameplay2" name="view2" value="gameplay" ng-click="setChartsHowLong('gameplay')">All gameplays
				<input type="radio" id ="player2" name="view2" value="player" ng-click="setChartsHowLong('player')">Unique players
			</p>

			<ul class="nav nav-tabs" role="tablist" id="tabsBasic2">
				<li ng-repeat="c in LA.game.playerCharacteristics">
					<a ng-href="#{{c}}2" role="tab" data-toggle="tab"> By {{ c }} </a></li>
				</ul>

				<div class="tab-content">
					<div ng-repeat="c in LA.game.playerCharacteristics" class="tab-pane active" id="{{c}}2">
						<div id="containerHowLongBy{{c}}" style="min-width: 450px; height: 350px; max-width: 600px; margin: 0 auto"></div>
					</div>
				</div>
			</div>

			<div class="col-md-6 blockLA blockBasicInfo">
				<h4>When did the students played?</h4>
				<p>
					<input type="radio" id ="gameplay3" name="view3" value="gameplay" ng-click="setChartsWhen('gameplay')">All gameplays
					<input type="radio" id ="viewplayer3" name="view3" value="player" ng-click="setChartsWhen('player')">Unique players
				</p>

				<ul class="nav nav-tabs" role="tablist" id="tabsBasic3">
					<li ng-repeat="c in getExtraCharacteristics()">
						<a ng-href="#{{c}}3" role="tab" data-toggle="tab"> By {{ c }} </a></li>
					</ul>

					<div class="tab-content">
						<div ng-repeat="c in getExtraCharacteristics()" class="tab-pane active" id="{{c}}3">
							<div id="containerWhenBy{{c}}" style="min-width: 450px; height: 350px; max-width: 600px; margin: 0 auto"></div>
						</div>
					</div>
				</div>

				<div class="col-md-6 blockLA blockBasicInfo">
					<h4>How many times students played?</h4>
					<p>
						<input type="radio" id ="gameplay4" name="view4" value="gameplay" ng-click="setChartsHowManyTimes()">All gameplays
						<input type="radio" id ="viewplayer4" name="view4" value="player" ng-click="setChartsHowManyTimes()">Unique players
					</p>
					<ul class="nav nav-tabs" role="tablist" id="tabsBasic4">
						<li ng-repeat="c in getExtraCharacteristics()">
							<a ng-href="#{{c}}4" role="tab" data-toggle="tab"> By {{ c }} </a></li>
						</ul>
						<div class="tab-content">
							<div ng-repeat="c in getExtraCharacteristics()" class="tab-pane active" id="{{c}}4">
								<div id="containerHowManyTimesBy{{c}}" style="min-width: 450px; height: 350px; max-width: 600px; margin: 0 auto"></div>
							</div>
						</div>
					</div>

					<div class="col-md-6 blockLA blockScoreStat">
						<h4>Final scores</h4>
						<p>
							<select id="lo7" ng-model="loFinalScoreOutcome">
								<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
							</select>
							<input type="radio" id ="gameplay5" name="view5" value="gameplay" ng-click="setChartFinalScores('gameplay')">All gameplays
							<input type="radio" id ="lastplayer5" name="view5" value="playerLast" ng-click="setChartFinalScores('playerLast')">Last per player
							<input type="radio" id ="bestplayer5" name="view5" value="playerBest" ng-click="setChartFinalScores('playerBest')">Best per player
						</p>

						<ul class="nav nav-tabs" role="tablist" id="tabsScore1">
							<li ng-repeat="c in LA.game.playerCharacteristics">
								<a ng-href="#{{c}}5" role="tab" data-toggle="tab"> By {{ c }} </a></li>
							</ul>

							<div class="tab-content">
								<div ng-repeat="c in LA.game.playerCharacteristics" class="tab-pane active" id="{{c}}5">
									<div id="containerBoxPlotScoreBy{{c}}" style="min-width: 500px; height: 350px; max-width: 600px; margin: 0 auto"></div>
								</div>
							</div>
						</div>

						<div class="col-md-6 blockLA blockScoreStat">
							<h4>Learning curves in game</h4>
							<p>
								<input type="radio" id ="gameplay6" name="view6" value="gameplay" ng-click="setChartLearningCurve('gameplay')">All gameplays
								<input type="radio" id ="lastplayer6" name="view6" value="playerLast" ng-click="setChartLearningCurve('playerLast')">Last per player
								<input type="radio" id ="bestplayer6" name="view6" value="playerBest" ng-click="setChartLearningCurve('playerBest')">Best per player
								<select id="lo6">
									<option ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
								</select>
							</p>

							<ul class="nav nav-tabs" role="tablist" id="tabsScore2">
								<li ng-repeat="c in getExtraCharacteristics()">
									<a ng-href="#{{c}}6" role="tab" data-toggle="tab"> By {{ c }} </a></li>
								</ul>

								<div class="tab-content">
									<div ng-repeat="c in getExtraCharacteristics()" class="tab-pane active" id="{{c}}6">
										<div id="containerLearningCurveBy{{c}}" style="min-width: 500px; height: 350px; max-width: 600px; margin: 0 auto"></div>
									</div>
								</div>
							</div>

							<div class="col-md-6 blockLA blockScoreStat">
								<h4>Learning curves within gameplays</h4>
								<p>
									<select id="lo7">
										<option ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
									</select>
									<button type="button" class="btn btn-success btn-xs" id="draw7" ng-click="setChartLearningCurve2()">Draw chart</button>
								</p>

								<ul class="nav nav-tabs" role="tablist" id="tabsScore3">
									<li ng-repeat="c in getExtraCharacteristics()">
										<a ng-href="#{{c}}7" role="tab" data-toggle="tab"> By {{ c }} </a></li>
									</ul>

									<div class="tab-content">
										<div ng-repeat="c in getExtraCharacteristics()" class="tab-pane active" id="{{c}}7">
											<div id="containerLearningCurve2By{{c}}" style="min-width: 500px; height: 350px; max-width: 600px; margin: 0 auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
