<%= javascript_include_tag params[:controller] %> 
<% content_for :title do %>
Learning Analytics
<% end %>

<div class="mainText container" ng-app="learningAnalytics" ng-controller="LA_controller">
	<h1>Learning Analytics dashboard - <b> {{ LA.game.name }} </b></h1>
	<p> 
		Version : <b> {{ LA.game.version }} </b> - 
		Number of gameplays: <b> {{ LA.gameplays.length }} </b> -  
		Number of players: <b>{{ uniquePlayers().length }} </b>
	</p>

	<!-- <p>Students who played: <span ng-repeat="p in LA.players" ><b> {{ p.student.username }} </b> </span> -->

	</p>

	<div class="col-md-6 blockLA blockBasicInfo">
		<h4>Who played this game?</h4>
		<p>
			<input type="radio" ng-model="whoPlayedView" value="gameplay">All gameplays
			<input type="radio" ng-model="whoPlayedView" value="player">Unique players
		</p>
		<tabset>
		    <tab ng-repeat="c in LA.game.playerCharacteristics" heading="By {{ c }}">
		      <div la-who-played la="LA" characteristic="c" view="whoPlayedView"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockBasicInfo">
		<h4>How many times students played?</h4>
		<p>
			<input type="radio" ng-model="howManyTimesView" value="gameplay">All gameplays
			<input type="radio" ng-model="howManyTimesView" value="player">Unique players
		</p>
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-how-many-times la="LA" characteristic="c" view="howManyTimesView"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockBasicInfo">
		<h4>How long was the game played?</h4>
		<p>
			<input type="radio" ng-model="howLongView" value="gameplay">All gameplays
			<input type="radio" ng-model="howLongView" value="player">Unique players
		</p>
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-how-long la="LA" characteristic="c" view="howLongView"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockBasicInfo">
		<h4>When did the students played?</h4>
		<p>
			<input type="radio" ng-model="whenView" value="gameplay">All gameplays
			<input type="radio" ng-model="whenView" value="player">Unique players
		</p>
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-when la="LA" characteristic="c" view="whenView"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockScoreStat">
		<h4>Final scores</h4>
		<p>
			<select id="lo7" ng-model="loFinalScoresOutcome">
				<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
				<option value="_custom_">custom formula</option>
			</select>
			<input type="radio" ng-model="finalScoresView" value="gameplay">All gameplays
			<input type="radio" ng-model="finalScoresView" value="playerFirst">First 
			<input type="radio" ng-model="finalScoresView" value="playerLast">Last 
			<input type="radio" ng-model="finalScoresView" value="playerBest">Best 
			<br/>
			<span id="customFormula" ng-show="loFinalScoresOutcome == '_custom_'">
				<input type="text" ng-model="customFormulaFinalScore">
				<i> Available scores:</i>
				<span ng-repeat="o in getLearningOutcomesList()"> - <b>{{ o }}</b> </span>
				<br/>
			</span>
			<i>Calculate best gameplays based on:</i>
			<select ng-model="loFinalScoresBestOutcome">
				<option  ng-repeat="o in getLearningOutcomesList()" value="{{o}}">{{o}}</option>
			</select>
		</p>
		
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-final-scores la="LA" characteristic="c" bestoutcome="loFinalScoresBestOutcome" outcome="loFinalScoresOutcome" view="finalScoresView" formula="customFormulaFinalScore"></div>
		    </tab>
		</tabset>
	</div>
	
	<div class="col-md-6 blockLA blockScoreStat">
		<h4>Learning curves between gameplays</h4>
		<p>
			<select id="lo9" ng-model="loLearningCurvesWithinGameplaysOutcome">
				<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
				<option value="_custom_">custom formula</option>
			</select>
			<br/>
			<span ng-show="loLearningCurvesWithinGameplaysOutcome == '_custom_'">
				<input type="text" ng-model="customFormulaLearningCurve">
				<i> Available scores:</i>
				<span ng-repeat="o in getLearningOutcomesList()"> - <b>{{ o }}</b> </span>
			</span>
		</p>
		<br/>
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-learning-curves-within-gameplays la="LA" characteristic="c" outcome="loLearningCurvesWithinGameplaysOutcome" formula="customFormulaLearningCurve"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockScoreStat">
		<h4>Learning curves within game</h4>
		<p>
			<select id="lo8" ng-model="loLearningCurvesOutcome">
				<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
			</select>
			<input type="radio" ng-model="learningCurvesView" value="gameplay">All gameplays
			<input type="radio" ng-model="learningCurvesView" value="playerFirst">First 
			<input type="radio" ng-model="learningCurvesView" value="playerLast">Last 
			<input type="radio" ng-model="learningCurvesView" value="playerBest">Best 

			<br/>
			<i>Calculate best gameplays based on:</i>
			<select ng-model="loLearningCurveBestOutcome">
				<option  ng-repeat="o in getLearningOutcomesList()" value="{{o}}">{{o}}</option>
			</select>
		</p>
		
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		      <div la-learning-curves la="LA" characteristic="c" bestoutcome="loLearningCurveBestOutcome" outcome="loLearningCurvesOutcome" view="learningCurvesView"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockInteractions">
		<h4>Most and least common actions </h4>
		<p>
			<select ng-model="mostOrLeastCommon">
				<option value="false">most common</option>
				<option value="true">least common</option>
			</select>
			<select ng-model="actionsCommonActions">
				<option  ng-repeat="a in getActionList()" value="{{a}}">{{a}}</option>
			</select>
			Reaction = 
			<select ng-model="signLOCommonActions">
				<option value="+">+</option>
				<option value="-" selected>-</option>
			</select>
			<select ng-model="loCommonActions">
				<option  ng-repeat="o in getLearningOutcomesList()" value="{{o}}">{{o}}</option>
			</select>
			<br/>
			<i>Calculate best gameplays based on:</i>
			<select ng-model="loCommonActionsBest">
				<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
			</select>
		</p>
		
		<div la-common-actions la="LA" leastcommon="mostOrLeastCommon" sign="signLOCommonActions" outcome="loCommonActions" bestoutcome="loCommonActionsBest" action="actionsCommonActions"></div>
	</div>

	<div class="col-md-6 blockLA blockInteractions">
		<h4>Detailed actions data</h4>
		<p>
			<select ng-model="actionDetailedAction">
				<option  ng-repeat="a in getActionList()" value="{{a}}">{{a}}</option>
			</select>
			<select ng-model="paramDetailedAction">
				<option  ng-repeat="p in getParamsAction()" value="{{p}}">{{p}}</option>
			</select>
			<br/>
			<i>Calculate best gameplays based on:</i>
			<select ng-model="loDetailedAction">
				<option  ng-repeat="s in getLearningOutcomesList()" value="{{s}}">{{s}}</option>
			</select>
		</p>
		
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
		    	<div la-detailed-action la="LA" characteristic="c" outcome="loDetailedAction" action="actionDetailedAction" param="paramDetailedAction"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockInteractions">
		<h4>Feedback</h4>
		<p>
			Show
			<select ng-model="typeFeedback">
				<option value="All">All</option>
				<option ng-repeat="f in getFeedbackTypes()" value="{{f}}">{{f}}</option>
			</select>
			feedback
			<br/>
			<i>Calculate best gameplays based on:</i>
			<select ng-model="loCommonFeedack">
				<option  ng-repeat="o in getLearningOutcomesList()" value="{{o}}">{{o}}</option>
			</select>
		</p>
		<div la-common-feedback la="LA" outcome="loCommonFeedack" type="typeFeedback"></div>
	</div>

	<div class="col-md-6 blockLA blockInteractions">
		<h4>Badges</h4>
		
		<tabset>
		    <tab ng-repeat="c in getExtraCharacteristics()" heading="By {{ c }}">
				<div la-badges la="LA" characteristic="c"></div>
		    </tab>
		</tabset>
	</div>

	<div class="col-md-6 blockLA blockInteractions">
		<h4>Badges detailed</h4>
		<p>
			<select ng-model="badgeDetailed">
				<option ng-repeat="b in LA.players[0].badges" value="{{b.name}}">{{b.name}}</option>
			</select>
		</p>

		<div la-badge-detailed la="LA" badge="badgeDetailed">			
		</div>

		<script type="text/ng-template" id="badgeDetail.html">
			<div class="col-md-6">
				<h5>Earned by ({{ result.percent }}%):</h5>
		    	<ul>
		    		<li ng-repeat="user in result.earned">{{ user }}</li>
		    	</ul>
		    </div>
		    <div class="col-md-6">
		    	<h5>Not earned by ({{ 100 - result.percent }}%):</h5>
		    	<ul>
		    		<li ng-repeat="user2 in result.not">{{ user2 }}</li>
		    	</ul>
		    </div>
		</script>
	</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Feedback!</h3>
		</div>
		<div class="modal-body">
			<div>
				<h4>Add feedback</h4>
				<form class="form-inline">
					<div class="form-group" ng-submit="createFeedback(newFeedbackName, newFeedbackMessage, newFeedbackType)">
						<input placeholder="name" type="text" ng-model="newFeedbackName" required class="form-control">
						<input placeholder="description" type="text" ng-model="newFeedbackMessage" required class="form-control">
						<select ng-options="fbType for fbType in feedbackTypes" ng-model="newFeedbackType" class="form-control"></select>
						<button type="submit" class="btn btn-default">create</button>
					</div>
				</form>
			</div>
			<div>
				<h4>Positive Feedback</h4>
				<table class="table table-bordered">
					<tbody>newFeedbackMessage
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='positive'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>Negative Feedback</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='negative'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>Badge</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.type=='badge'">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<h4>End of Game</h4>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="(name, feedback) in config.feedback" ng-if="feedback.final">
							<td class="col-lg-2">{{name}}</td>
							<td>{{feedback.message}}</td>
							<td class="col-sm-1"><button class="btn btn-sm btn-default" ng-click="select(name)">select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">cancel</button>
		</div>
	</script>

</div>



