<% content_for :title do %>
  Give access to your serious game
<% end %>
<div class="mainText container">
	<h2><%= @serious_game.name %></h2>
  	<p>
    	<b>Id:</b>
    	<%= @serious_game.id %>
  	</p>

	<% if !current_user.developer.nil? %>

		<%= render 'form' %>


	  <h3>Access</h3>

	  <p>You can define specific access to your game here. You can look for teachers by name or school.</p>

	  <div ng-app="demo"  ng-controller="SGAccessCtrl">
	    <h4 ng-if="teacherIds.length === 1">1 teacher has access to your game:</h4>
	    <h4 ng-if="teacherIds.length != 1">{{ teacherIds.length }} teachers have access to your game:</h4>

	    <ui-select multiple ng-model="$parent.teacherIds" theme="select2" style="width: 800px;">
			<ui-select-match placeholder="Select teachers...">{{$item.username}} ({{$item.school.name}})</ui-select-match>
  			<ui-select-choices repeat="teacher.id as teacher in teachers | filter: $select.search">
  				{{teacher.username}} ({{teacher.school.name}})
			   </ui-select-choices>
		  </ui-select>
    </div>

    <br/>

	  <p><button type="button" class="btn btn-primary btn-md" ng-click="save()">Give access</button></p>

	<% end %>
</div>
  


<script>  
	var sg=angular.module('demo', ['ngResource', 'ngSanitize','ui.bootstrap', 'ui.select']);

//controller('TypeaheadCtrl', function($scope, $http) {

//  	$scope.selected = undefined;

  	// This creates an angular resource to retrieve the access json
    sg.factory('SGAccess', function ($resource) {
        return $resource('/serious_games/:idSG/edit.json', {}, {
            get: {method: 'GET'},
            save: {method: 'POST'}
        });
    });

    // configure csrftoken
   sg.config(["$httpProvider", function ($httpProvider) {
       $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
   }]);

    // This defines the main controller
    sg.controller('SGAccessCtrl', function ($scope, $location, SGAccess) {

    	$scope.idSG = /serious_games\/(\d+)/.exec($location.absUrl())[1];
        
        // Fetch Config
        $scope.teachers = [];
        $scope.teacherIds = [];
        SGAccess.get(
        	{idSG: $scope.idSG},
            function(data){
                $scope.teachers = data.teachers;
    			$scope.teacherIds = data.teacherIds;
            }
        );
    	
    	/**
         * Save access to teacher
         */
        $scope.save = function () {
             SGAccess.save(
             	{idSG: $scope.idSG}, 
	            {
	            	idSG: $scope.idSG,
	            	teacherIds: $scope.teacherIds
	            }
            );

        }
    });


</script>  